@import '/usr/local/lib/prince/style/docbook.css';

bookinfo title {
    font-size: 24pt;
    text-align: center;
}

tocentry { display: block;  }
tocentry::after { content: leader(".") target-counter(attr(href), page); }
toclevel1 { 
    display: block;
    position: inherit; 
    padding-left: 20px; 
}

@page { 
    @bottom-left {
        content: string(doctitle)
    }
    @bottom-right { 
        content: counter(page);
        font-style: italic
    }
    @top-right {
        content: string( current_section ) content();
    }
    @top-left {
        content: string( current_chapter ) content();
    }
}

bookinfo > title {
    string-set: doctitle content();
}

/*
title {
   string-set: current_section content();
}
*/

title > titleabbrev {
    string-set: current_section content();
}

/* chapter title {
    string-set: current_chapter content();
} */

chapter > title > titleabbrev {
    string-set: current_chapter content();
}

@page:first { 
    @top-left { content: normal }
    @top-right { content: normal }
    @bottom-left { content: normal }
    @bottom-right { content: normal }
}

chapter > title::before {
    display: none;
}

titleabbrev { display: none }

emphasis[role="italic"] {
    font-style: italic;
}
